<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
      rel="stylesheet"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
  </head>
  <body>
    <!--Add review form here -->
    <div class="container mt-5">
      <h2>Add a Review</h2>
      <form
        method="POST"
        action="{% url 'djangoapp:add_review' dealer.dealer_id%}"
        class="mt-4"
      >
        {% csrf_token %}

          <label for="content">Enter the review Content:</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            rows="2"
            required
          ></textarea>
            <label for="purchase_date">Select a Purchase Date:</label>
            <br>
            <input
              type="date-own"
              class="date-own form-control"
              id="purchase_date"
              name="purchase_date"
              required
            />
            <script type="text/javascript">
                $('.date-own').datepicker({
                format: 'mm/dd/yyyy'
                });
            </script>
            <input
            type="checkbox"
            class="form-check-inline form-check-input"
            id="purchase_check"
            name="purchase_check"
            required
            />  
            <label for="purchase_check">Has purchased a car from this Dealer?</label>
            <br>
            <label>Select a car (model-make-year)</label>
            <br>
            <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Submit Review</button>
      </form>
    </div>
  </body>
</html>